body
	#wrapper
		h1 Dibbsed.it
	#container
		form(action="/dibb", method="post")
			label Title:
			input(type="text", name="title")
			br
			Label Description:
			input(type="text", name="description")
			br
			input(type="submit")