body
	#wrapper
		h1 Dibbsed.it
	#container
		form(action="/dibb", method="post")
			label Username:
			input(type="text", name="user")
			br
			Label Dibb:
			input(type="text", name="title")
			br
			input(type="submit")