!!! 5
html(lang="en")
	head
	title Dibbsed.it
	script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
body
	#wrapper
		h1 Dibbsed.it
	#container
		form(action="/dibb", method="post")
			label Username:
			input(type="text", name="user")
			br
			Label Dibb:
			input(type="text", name="title")
			br
			input(type="submit")