!!! 5
html(lang="en")
  head
    title Dibbsed.it
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
  body
    h1 Dibbsed.it
    #container
        form
            label Username:
            input(type="text")
            br
            Label Dibb:
            input(type="text")
            br
            input(type="submit")
      