!!!
html
  head
    title Dibbsed.it
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
  body!= body